.tracer-row {
  border-bottom: solid;
  border-color: black;
  margin-left: 5%;
  margin-right: 5%;
}

.tracer-heading {
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: solid;
}

.tracer-event-header {
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: solid;
  border-color: purple;
  background-color: black;
  color: white;
}

.menudown-icon {
  float: right;
  width: 200px;
}

.highlight {
  background-color: yellow;
}

pre {
  font-size: x-small !important;
}

td {
  font-size: x-small;
}

.hidden {
  display: none;
}

.navigation-arrows {
  margin-left: 2.5%;
  top: 500px;
  position: fixed;
}

.glyphicon {
  cursor: pointer;
}

.blinker {
  animation: fadeIn 1s ease-in-out 0s;
}

@keyframes fadeIn {
  from {
    background: #f96;
  }
  to {
    background: #fff;
  }
}

.event-context-data {
  border-bottom: solid;
  border-color: black;
  margin-left: 5%;
  margin-right: 5%;
}

.event-context {
  border-bottom: solid;
  border-color: black;
  margin-left: 5%;
  margin-right: 5%;
}

.exploitable {
  background-color: #ff9994;
}

.unexploitable {
}

.suspicious {
  background-color: #fdfd96;
}

.probable {
  background-color: #ffb347;
}

.row {
  overflow: hidden;
}

[class*="col-"] {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.main-table {
  padding-left: 0px !important;
  margin-left: 0px !important;
}

.filter-column {
  background-color: #b7b7b7ff;
}

.filter-buttons {
  border: solid;
  background-color: #b6d7a8ff;
  padding: 3%; /*
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 5%;*/
}

.filter-button-label {
  padding-left: 5px;
}

.filters-title {
  background-color: #d9d9d9ff;
  padding-right: 0px !important;
}

.filters-title-text {
  line-height: 10vh;
  text-align: center;
}

.filter-button {
  float: left;
  margin-right: 10px;
}

.navigation-separator {
  padding-left: 0px !important;
  margin-left: 0px !important;
  height: 10vh;
  background-color: #ccccccff;
}

.navigation-separator-bar {
  height: 8vh;
}

.navigation-bar {
  height: 10vh;
  background-color: #666666ff;
  color: white;
  line-height: 10vh;
  text-align: center;
}

.text-sz-lg {
  font-size: 2em;
  font-weight: bold;
}

body {
  overflow: hidden;
  font-size: xx-small;
}

.raw-data {
  height: 50vh;
}

.raw-request {
  height: 50vh;
}

.details-viewer {
  margin-top: 25px;
}
