.tracer-row {
  border-bottom: solid;
  border-color: black;
  margin-left: 5%;
  margin-right: 5%;
}

.tracer-heading {
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: solid;
}

.tracer-event-header {
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: solid;
  border-color: purple;
  background-color: black;
  color: white;
}

div.right-bottom-column,
div.left-bottom-column,
div.right-top-column,
div.left-top-column {
  padding-left: 0;
  border: solid #39464e 1px;
}

.menudown-icon {
  float: right;
  width: 200px;
}

.highlight {
  background-color: yellow;
  color: black;
}

pre {
  font-size: small !important;
  border-radius: 0px !important;
  border-width: 0 !important;
}

div.left-top-column td,
div.right-top-column td {
  font-size: small;
  padding: 0px !important;
  border-width: 0 !important;
}

div.left-top-column tr,
div.right-top-column tr {
  font-size: small;
  padding: 0px !important;
}

div.react-bs-table-bordered {
  border-width: 0;
}

.hidden {
  display: none;
}

.navigation-arrows {
  margin-left: 2.5%;
  top: 500px;
  position: fixed;
}

.glyphicon {
  cursor: pointer;
}

.blinker {
  animation: fadeIn 1s ease-in-out 0s;
}

@keyframes fadeIn {
  from {
    background: #f96;
  }
  to {
    background: #fff;
  }
}

.event-context-data {
  border-bottom: solid;
  border-color: black;
  margin-left: 5%;
  margin-right: 5%;
}

.event-context {
  border-bottom: solid;
  border-color: black;
  margin-left: 5%;
  margin-right: 5%;
}

.exploitable {
  color: #ff9994;
}

.unexploitable {
}

.suspicious {
  color: #fdfd96;
}

.probable {
  color: #ffb347;
}

.row {
  overflow: hidden;
}

.main-table {
  padding-left: 0px !important;
  margin-left: 0px !important;
}

.filter-column {
  position: absolute;
  height: 100%;
  display: block;
}

.filter-buttons {
  border: solid;
  background-color: #b6d7a8ff;
  padding: 3%; /*
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 5%;*/
}

.filter-button-label {
  padding-left: 5px;
}

.filters-title {
  background-color: #d9d9d9ff;
  padding-right: 0px !important;
}

.filters-title-text {
  line-height: 10vh;
  text-align: center;
}

.filter-button {
  float: left;
  margin-right: 10px;
}

.navigation-separator {
  padding-left: 0px !important;
  margin-left: 0px !important;
  height: 10vh;
  background-color: #ccccccff;
}

.navigation-separator-bar {
  height: 8vh;
}

.navigation-bar {
  height: 10vh;
  background-color: #666666ff;
  color: white;
  line-height: 10vh;
  text-align: center;
}

.text-sz-lg {
  font-size: 2em;
  font-weight: bold;
}

body {
  overflow: hidden;
}

.details-viewer {
  margin-top: 0px;
}

.nav-bar {
  margin-bottom: 0px;
  height: 4vh;
}

.header {
  height: 50px;
  background-color: #1c2128;
  color: #e6e6e8;
  margin-bottom: 0;
  border-bottom: #39464e solid 1px;
}

.title {
  font-size: xx-large;
  text-align: center;
}

.row-selected {
  background-color: #362c94;
  color: white;
}

html body {
  background-color: #20262e;
  color: #e6e6e8;
}

div.header button {
  background-color: inherit;
  border: 0;
  height: 100%;
  border-right: #39464e solid 1px;
}

pre.raw-request,
pre.raw-data {
  background-color: inherit;
  color: #e6e6e8;
  height: 65vh;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
}

div.container {
  margin-left: 10px;
}

div.header .button-active {
  background-color: #252c35;
}

div.header .filter-container {
  padding-left: 1px;
}
