.tracer-row {
  border-bottom: solid;
  border-color: black;
  margin-left: 5%;
  margin-right: 5%;
}

.tracer-heading {
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: solid;
}

.tracer-event-header {
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: solid;
  border-color: purple;
  background-color: black;
  color: white;
}

div.right-bottom-column,
div.left-bottom-column,
div.right-top-column,
div.left-top-column {
  height: 100%;
  padding: 9.5px;
  border: solid #39464e 1px;
}

.filter-inactive {
  color: #555759;
}

.filter-active {
  color: #c8c8c8;
}

div.right-top-column,
div.left-top-column {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.filter-buttons {
  margin-top: 1.5vh;
  padding-right: 10px;
}

.filter-button {
  list-style: none;
}

.menudown-icon {
  float: right;
  width: 200px;
}

.highlight {
  background-color: yellow;
  color: black;
}

pre {
  font-size: small !important;
  border-radius: 0px !important;
  border-width: 0 !important;
  /*padding: 0;*/
}

div.left-top-column td,
div.right-top-column td {
  font-size: small;
  padding: 0px !important;
  border-width: 0 !important;
}

div.left-top-column tr,
div.right-top-column tr {
  font-size: small;
  padding: 0px !important;
}

div.react-bs-table-bordered {
  border-width: 0;
}

.hidden {
  display: none;
}

.navigation-arrows {
  margin-left: 2.5%;
  top: 500px;
  position: fixed;
}

.glyphicon {
  cursor: pointer;
}

.blinker {
  animation: fadeIn 1s ease-in-out 0s;
}

@keyframes fadeIn {
  from {
    background: #f96;
  }
  to {
    background: #fff;
  }
}

.event-context-data {
  border-bottom: solid;
  border-color: black;
  margin-left: 5%;
  margin-right: 5%;
}

.event-context {
  border-bottom: solid;
  border-color: black;
  margin-left: 5%;
  margin-right: 5%;
}

.exploitable {
  color: #ff9994;
}

.unexploitable {
}

.suspicious {
  color: #fdfd96;
}

.probable {
  color: #ffb347;
}

.row {
  overflow: hidden;
}

.main-table {
  padding-left: 0px !important;
  margin-left: 0px !important;
}

.filter-column {
  position: absolute;
  height: 100%;
  display: block;
}

.filters-title {
  background-color: #d9d9d9ff;
  padding-right: 0px !important;
}

.filters-title-text {
  line-height: 10vh;
  text-align: center;
}

.navigation-separator {
  padding-left: 0px !important;
  margin-left: 0px !important;
  height: 10vh;
  background-color: #ccccccff;
}

.navigation-separator-bar {
  height: 8vh;
}

.navigation-bar {
  height: 10vh;
  background-color: #666666ff;
  color: white;
  line-height: 10vh;
  text-align: center;
}

.text-sz-lg {
  font-size: 2em;
  font-weight: bold;
}

body {
  overflow: hidden;
}

td,
th,
code,
span.logo-title {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.brand {
  margin-top: 10px;
}

span.logo-title {
  margin-left: 10px;
}

.details-viewer {
  height: 100%;
  background-color: #282c34;
  margin-top: 0px;
}

.nav-bar {
  margin-bottom: 0px;
  height: 4vh;
}

.header {
  height: 50px;
  background-color: #1c2128;
  color: #e6e6e8;
  margin-bottom: 0;
  border-bottom: #39464e solid 1px;
}

.title {
  font-size: xx-large;
  text-align: center;
}

.row-selected {
  background-color: #362c94;
  color: white;
}

html body {
  background-color: #282c34;
  color: #e6e6e8;
}

div.header button {
  background-color: inherit;
  border: 0;
  height: 100%;
  border-right: #39464e solid 1px;
}

pre code {
  padding: 9.5px;
}

.right-bottom-column pre,
.left-bottom-column pre {
  padding: 0;
}

pre.raw-request,
pre.raw-data {
  background-color: inherit;
  color: #e6e6e8;
  height: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
}

div.container {
  padding-left: 30px;
  padding-right: 30px;
}

div.raw-row {
  height: 65vh;
}

div.raw-column {
  height: 100%;
}

div.tables-row {
  height: 30vh;
}

div.header .button-active {
  background-color: #252c35;
}

div.header .filter-container {
  padding-left: 1px;
}

div.header {
  max-height: 5vh;
}

.glyphicon-refresh-animate {
  -animation: spin 0.7s infinite linear;
  -ms-animation: spin 0.7s infinite linear;
  -webkit-animation: spinw 0.7s infinite linear;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

@-webkit-keyframes spinw {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

div.loading-spinner-parent {
  height: 29vh;
  position: relative;
}

div.loading-spinner-child {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
