.tracer-row{
  border-bottom: solid;
  border-color: black;
  margin-left: 5%;
  margin-right: 5%;
}

.tracer-heading {
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: solid;
}

.tracer-event-header {
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: solid;
  border-color: purple;
  background-color: black;
  color: white;
}

.menudown-icon {
  float:  right;
  width: 200px;
}

.highlight {
  background-color: yellow;
}

code {
  display: inline;
  white-space: pre-wrap;
  padding: 0;
  background-color: antiquewhite;
}

pre {
  white-space: pre-wrap;
}

.hidden {
  display: none;
}

.navigation-arrows {
  margin-left: 2.5%; 
  top: 500px;
  position: fixed;
}

.glyphicon {
  cursor: pointer;
}

.blinker {
   animation: fadeIn 1s ease-in-out 0s;
}

@keyframes fadeIn {
  from {
    background: #f96;
  }
  to {
    background: #fff;
  }
}

.event-context-data {
  border-bottom: solid;
  border-color: black;
  margin-left: 5%;
  margin-right: 5%;
}

.event-context {
  border-bottom: solid;
  border-color: black;
  margin-left: 5%;
  margin-right: 5%;
}

.exploitable {
  background-color: red;
}

.unexploitable {
}

.suspicious {
  background-color: yellow;
}

.probable {
  background-color: orange;
}