<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Tracer API Server</title>
        <style type="text/css">
            .location {
                margin: 10px;
                color: green;
            }
        </style>
        <script type="text/javascript">
            /* Global for the application container. */
            var appContainer = "results";

            /* Remove an element from the DOM. */
            function removeElementFromDom(element) {
                element.parentNode.removeChild(element);
            }

            /* Clear tracers from the DOM. */
            function clearPage() {
                var parent = document.getElementById(appContainer);
                while (parent.hasChildNodes()) {
                    removeElementFromDom(parent.lastChild);
                }
            }

            /* Add a tracer element to the DOM. */
            function addTracerToDom(url, locations) {
                /* Each of the detail elements will be added under the details. */
                for (var locationKey in locations) {
                    /* The details and summary tab will be used to show the tracer string. */
                    var details = document.createElement("details");
                    var summary = document.createElement("summary");
                    details.className = "tracer";
                    summary.innerText = url + ": (" + locations[locationKey]["TracerString"] + ")";
                    details.appendChild(summary);
                    details.open = true;
                    var used = [];
                    var events = locations[locationKey]["Events"];
                    for (var eventKey in events) {
                        var event = events[eventKey];
                        var locStr = event["Location"].trim();
                        if (used.indexOf(locStr) == -1) {
                            var text = ""
                            var div = document.createElement("div");
                            div.className = "location";
                            text += locStr
                            used.push(locStr);
                            div.innerText = text;
                            details.appendChild(div);
                        }
                    }
                    var results = document.getElementById(appContainer);
                    results.appendChild(details);
                }


            }

            /* HTTP Request to get the current list of tracers. */
            function getTracers(callback) {
                if (callback) {
                    /* Create the HTTP GET request to the /tracers API endpoint. */
                    var req = new XMLHttpRequest();
                    req.open("GET", "/tracers/events", true);
                    req.onreadystatechange = callback;

                    /* Send it. */
                    req.send();
                }
            }

            /* Sort the data structure using the location as the key to the rest of the tracer data. */
            function sortByUrl(tracers) {
                var ret = {};

                for (var tracerKey in tracers) {
                    var url = tracers[tracerKey]["URL"];
                    if (url in ret) {
                        ret[url].push(tracers[tracerKey]);
                    } else {
                        ret[url] = [tracers[tracerKey]];
                    }
                }

                return ret;
            }

            /* Function callback for when the API data needs to be added to the DOM. */
            function addTracersToDom() {
                if (this.readyState == 4 && this.status == 200) {
                    /* For each of the tracers returned, add it to the DOM. */
                    tracers = sortByUrl(JSON.parse(this.responseText));
                    for (var url in tracers) {
                        addTracerToDom(url, tracers[url]);
                    }
                }
            }

            /* Get all the tracers from the API server and add them to the DOM every once and a while. */
            getTracers(addTracersToDom);
        </script>
    </head>
    <body>
        <div id="results">
        </div>
    </body>
</html>